main{
    background-image: url(https://thumbs.dreamstime.com/b/dinero-de-costa-rica-el-valor-nominal-más-alto-colones-acuñados-en-fondo-otros-billetes-este-pa%C3%ADs-moneda-se-acumularon-194883449.jpg);
    justify-content: center;
    align-items: center;
    display: grid;
    height: 800px; 
    width: 100%;
}
    
section{
    justify-content: center;
    background-color:aqua;  
    width: 450px;
    height: 500px;
    border-radius: 10px;
}




