main{
    background-color: #ffffffaa;
    background-image: url(https://thumbs.dreamstime.com/b/dinero-de-costa-rica-el-valor-nominal-más-alto-colones-acuñados-en-fondo-otros-billetes-este-pa%C3%ADs-moneda-se-acumularon-194883449.jpg);
    justify-content: center;
    align-items: center;
    display: grid;
    height: 800px; 
    width: 100%;
    background-blend-mode: overlay; 
}
    
section{
    background-color: #5F625E;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 625px;
    border-radius: 10px;
}

header{
    background-color: #4F5B49;
    color: white;
    text-align: right;
    padding: 19px 20px 19px 20px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

.navbar{
    font-weight: lighter;
}

.container-fluid{
    font-weight: lighter;
}

.contenedor-botones-calculadora{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    width: 450px;
    height: 450px;
    margin: auto;
    font-size: 25px;
}

button{
    padding: 10px 20px 10px 20px;
    width: 85px;
    height: 70px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); /* X, Y, blur, color */
}

.botonNaranja{
    background-color: #F39C11;
    color: #ffffff;
    border-radius: 10px;
    border-bottom: #F39C11 solid;

}

.botonBasico{
    background-color: #ffffff;
    color: #000;
    border-radius: 10px;
}


